name: Main service CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    install-deps:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 16.x
                  cache: "yarn"
            - run: yarn install --frozen-lockfile
    lint:
        needs: install-deps
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 16.x
                  cache: "yarn"
            - run: yarn install --frozen-lockfile
            - run: yarn lint
